/virtual-machine/main.o
/virtual-machine/mw-cln.o
/virtual-machine/lexer.o
/virtual-machine/mw.o
/virtual-machine/parser.o
/virtual-machine/lexer.cc
/virtual-machine/maszyna-wirtualna
/virtual-machine/maszyna-wirtualna-cln
/virtual-machine/parser.cc
/virtual-machine/parser.hh
/output
/268441
/268441.zip
/virtual-machine
/code
/src/__pycache__
/examples
